# This is the title of the Notebook

This is a markdown cell for an introduciton

This is a list of common languages :
* Java
* Python
* R

This is a list of libraries:
* Numpy
* Pandas

This is a table of data science tools :
|  Name | Number |
| -------------| ------ |
| tool1 | 1 |
| tool2 | 2 |
| tool3 | 3 |

This is a markdown cell introducing arithmetic expression examples : 1x1 or 2+20

In [3]:
2*2

4

In [7]:
minutes=120
hours=minutes//60
print(hours)

2

This a markdown cell to list Objectives :
* Obj1
* obj 2
* obj 3

This a markdown cell to indicate the Authorâ€™s name